.seriesTitle {
    color:  #d6d6d6;
    font-weight: bolder;
    font-size: 20px;
}

.textFont {
    font-family: 'Permanent Marker', cursive;
}

.allSeries {
    /*padding: 20px;*/
    margin-left: auto;
    border: 2px solid gray;
    /*margin-left: 10px;*/

    border-radius: 20px;
    width: 250px;
    background-image: linear-gradient(-240deg, rgba(0,255,255,0.9), rgba(0, 127,255, 0.9));
}
.leftN {
  -ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Safari */
  transform: rotate(-20deg); /* Standard syntax */
}
.rightN {
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari */
  transform: rotate(20deg); /* Standard syntax */
}

.allSeries:hover {
    box-shadow: 0 3px 7px 0 #4CAF50, 0 5px 18px 0 #4CAF50;

}

.seriesTitle:hover {
    text-decoration: underline;
    cursor: pointer;
}

.seriesTitle, .seriesEpisodes {
    padding: 5px;
}

.seriesEpisodes select {
    height: 25px;
    width: 90px;
    background: gray;
    color: #ededed;
    cursor: pointer;
    margin-top: 5px;
}

.seriesEpisodes select:hover {
    box-shadow: 0 1px 15px 0 #4CAF50, 0 1px 2px 0 #4CAF50;
}

table tr td {
    /*padding: 5px;*/
    margin-top: 10px;
}

table {
  width:50%;
    margin-left: auto;
    margin-right: auto;
}

#goButton {
    background: #4CAF50;
    border: 1px solid white;
    color: white;
    padding: 5px;
}

#NewsLetter {
    border: none !important;
    margin-top: 12px;
}

.topMargin {
    margin-top: 7px;
}

.contentNews small {
    margin-top: 7px;
    position: absolute;
}

.topMargin2 {
    margin-top: 12px;
}
.NewsletterT {
    height: 23px;
    width: 228px;
}

.category {
    color:  #d6d6d6;
    font-weight: bolder;
    font-size: 15px;
    margin-left: 5px;
}

.Element {
    text-align: justify;
    width: 21% !important;
    padding: 0px 20px;
    line-height: 1.5em;
    float: left;
}

#pagesMenu {
    overflow-x: hidden;
    overflow-y: hidden;
}

#pagesMenu ul {
    width: 50% !important;
}

.sugjerime {
    margin-left: 45%;
    cursor: pointer;
    height: 30px;
    width: 200px;
    border-radius: 10px;
}

.sugjerime:hover {
    box-shadow: 0 1px 15px 0 #4CAF50, 0 1px 2px 0 #4CAF50;
}

table {
    margin-top: 20px;
}

.sugjerime h3 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    background-color: #dddddd;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    color: red;
    height: 670px;
    border-radius: 7px;
}

.modal-content form {
    display: block;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.inputsForSugjero {
    colore: blue;
    height: 40px;
    margin-top: 5px;
}

.inputsForSugjero input {
    height: 25px;
    width: 230px;
    border: 1px solid green;
    border-radius: 5px;
}

.inputsForSugjero label {

}

.modal-content form {
    margin-top: 20px;
}

#leftDiv {
    width: 300px;
    height: 410px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    float: left;
}

#rightDiv {
    width: 300px;
    height: 410px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    float: right;
}

img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.options {
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg); /* Standard syntax */
}
