@keyframes blinkAnimation
            {	
            	0% {color: #00FFFF; margin-left:0px; margin-top:0px;}
            	50% {color: #00FFFF; margin-left:0px; margin-top:0px;}
            	53% {color: #007FFF; margin-left:50px; margin-top:0px;background-color: #00007F;border-radius: 10px;}
                56% {color: #00FFFF; margin-left:0px; margin-top:0px;background-color: #2a2925;border-radius: 15px;}
                57% {color: #00FFFF; margin-left:0px; margin-top:-5px;background-color: #2a2925;border-radius: 15px;border-color: rgba(0, 0, 34, 1.0);}
                59% {color: #007FFF; margin-left:150px; margin-top:-5px;background-color: #00007F;border-radius: 5px;box-shadow: 6px 6px 25px rgba(240, 240, 240, .9);}
                61.5% {color: #00007F; margin-left:150px; margin-top:10px;background-color: #007FFF;border-radius: 20px;}
                63% {color: #0000FF; margin-left:0px; margin-top:10px;background-color: #00FFFF;border-radius: 25px;box-shadow: -8px 8px 30px rgba(240, 240, 240, .9);border-color: rgba(0, 0, 34, 0.0);}
                64.5% {color: #00FFFF; margin-left:0px; margin-top: 0px;background-color: #2a2925;box-shadow: 0px 0px 0px rgba(240, 240, 240, 0.0);}
                90% {color: #2a2925; margin-left:0px; margin-top: 0px;opacity: 1;}
                95% {color: #2a2925; margin-left:0px; margin-top: 0px;opacity: 0.0;}
                96% {color: #2a2925; margin-left:0px; margin-top: 0px;opacity: 1;}
                100% {color: #2a2925; margin-left:0px; margin-top: 0px;border-color: rgba(0, 0, 34, 0.0);}
            }
            
@-webkit-keyframes blinkAnimation
            {
                0% {color: #00FFFF; margin-left:0px; margin-top:0px;}
            	50% {color: #00FFFF; margin-left:0px; margin-top:0px;}
            	53% {color: #007FFF; margin-left:50px; margin-top:0px;background-color: #00007F;border-radius: 10px;}
                56% {color: #00FFFF; margin-left:0px; margin-top:0px;background-color: #2a2925;border-radius: 15px;}
                57% {color: #00FFFF; margin-left:0px; margin-top:-5px;background-color: #2a2925;border-radius: 15px;}
                59% {color: #007FFF; margin-left:150px; margin-top:-5px;background-color: #00007F;border-radius: 5px;box-shadow: 6px 6px 25px rgba(240, 240, 240, .9);}
                61.5% {color: #00007F; margin-left:150px; margin-top:10px;background-color: #007FFF;border-radius: 20px;}
                63% {color: #0000FF; margin-left:0px; margin-top:10px;background-color: #00FFFF;border-radius: 25px;box-shadow: -8px 8px 30px rgba(240, 240, 240, .9);}
                64.5% {color: #00FFFF; margin-left:0px; margin-top: 0px;background-color: #2a2925;box-shadow: 0px 0px 0px rgba(240, 240, 240, .0);}
                90% {color: #2a2925; margin-left:0px; margin-top: 0px;opacity: 1;}
                95% {color: #2a2925; margin-left:0px; margin-top: 0px;opacity: 0.0;}
                96% {color: #2a2925; margin-left:0px; margin-top: 0px;opacity: 1;}
                100% {color: #2a2925; margin-left:0px; margin-top: 0px;}
            }
@keyframes thankYouBgAnimation
            {   
                50% {z-index:-1;}
                60% {z-index:1;width: 0%; height: 0%; margin-left:50%; margin-top:0px;opacity: 0.4;}
                65% {width: 35%; height: 35%; margin-left:30%; margin-top:50px;}
                83% {transform: scaleX(1);}
                85% {transform: scaleX(-1);}
                90% {transform: scaleX(1); }
                93% {transform: scaleX(-1);opacity: 0.4;}
                96% {z-index:1;transform: scaleX(-1);opacity: 0.0;width: 35%; height: 35%; margin-left:30%; margin-top:50px;}
                100% {z-index:-1;width: 0%; height: 0%; margin-left:50%; margin-top:0px;}
            }
@keyframes thankYouTxtAnimation
            {   
                50% {z-index:-1;}
                60% {z-index:1; opacity:0;}
                66% { opacity:1;}
                93% {z-index:1; opacity:1;}
                96% {z-index:-1; opacity:0;}
            }