
/* Modal Content */
.modal-content {
    background-color: #dddddd;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    color: red;
    height: 670px;
    border-radius: 7px;
}

.modal-content form {
    display: block;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.inputsForSugjero {
    colore: blue;
    height: 40px;
    margin-top: 5px;
}

.inputsForSugjero input {
    height: 25px;
    width: 230px;
    border: 1px solid green;
    border-radius: 5px;
}

.inputsForSugjero label {

}

.modal-content form {
    margin-top: 20px;
}

#leftDiv {
    width: 300px;
    height: 410px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    float: left;
}

#rightDiv {
    width: 300px;
    height: 410px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    float: right;
}

img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.options {
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg); /* Standard syntax */
}
