body {
	color: white;
	background-color:  #2a2925;
	text-align: justify;

}
h2 {
background-color: #00000;
color: #95a60a;
font-family: arial;
}
table  {
  width: auto;
  border: 3px solid black;
  background-color: #95a60a;
  color: black;
  margin: auto;
	padding: 5px;

}
table .allMovies .movieTitle {
width: auto;
align: center;
 margin: 5PX;
 text-align: center;
}
table .allMovies a{
  width: 100%;
  font-family: monospace;
    text-decoration: none;
     font-weight: bold;
  color: black;
  font-size: 27px;


}
table .allMovies a:hover{
  background-color: black;
  size: 40px;
  color: #95a60a;
}

#siteHeader {
    float: none !important;
    max-width: 90% !important;
}

.logo small {
    margin-bottom: 20px;
}

.button {
    color: black !important;
    background-color: #95a60a;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    font-family: sans-serif;
}

#inputSearch {
    height: 26px;
    border-radius: 10px;
    background-color: #95a60a;
    border: 1px solid #95a60a;
    margin-top: 7px;
}

#searchButton {
    height: 26px;
    border-radius: 10px;
    border: 1px solid #95a60a;
}
