*{
	margin: 0px;
	padding: 0px;
}

#navbar {
	position: absolute;
	z-index: 1;
	left: 0px;
	top:160px;
	height: 50px;
	width: 100%;
}
em {
	color: red;
	font-weight: bolder;
font-variant: small-caps;
font-size: 20px;

}
#navbar button {
	padding: 2px;
	margin-right: 10px;
	font-family:"Trebuchet MS";
	font-weight: bold;
	font-size: 35px;
	background-color: #95a60a;
	cursor: pointer;
	border-top: 5px solid black;
	border-right:  5px solid black;
	border-bottom:  5px solid black;
	border-left: none;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	float: left;
	height: 50px;
	line-height: 20px;
	text-align: center;
	width: auto;
}
#navbar nav {
	float: center;
	height: 50px;
	background-color: black;
}
#navbar nav .linqet {
	border: 1.5px solid #95a60a;
	border-radius: 10px;
	color: black;
	font-family: "Trebuchet MS";
	font-variant: small-caps;
	height: auto;
	font-size: 32px;
	background-color: black;
	/* display: inline-block */
	display: none;
	right: 0px;
	text-decoration: none;
	color: #95a60a;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;

}

table caption{
	border-left: 3px solid black;
	border-right: 3px solid black;
	font-size: 30px;
	font-weight: bold;
	color: #000;
	font-family: "Trebuchet MS";
	background-color: #95a60a;
}

table caption:hover {
	background-color: black;
	color: #95a60a;
	cursor: context-menu;
}

table {
	background-color: black;
	padding-top: 10PX;
	padding-bottom: 10PX;
  width: 100%;
  border-left:  3px solid #95a60a;
	border-right:  3px solid #95a60a;
  margin-bottom: 0px;
}

table.allMovies {
height: auto;}
table .movieThumbnail {
	border: 1px solid #95a60a;
	width: 280px;
	height: 400PX;
	position: relative;
}

table .allMovies .movieTitle {
	font-family: "Trebuchet MS";
height: auto;
width: 280px;
height: 50px;
padding: 5px;
 text-align: center;
}

table .allMovies a{
    text-decoration: none;
     font-weight: bold;
  color: #95a60a;
  font-size: 27px;
	font-variant: small-caps;


}

table tr td {
    padding-left: 25px;
		padding-right: 20px;
		padding-top: 20px;
		padding-bottom: 20px;

}
table .allMovies a:hover{
  background-color: #95a60a;
  size: 40px;
  color: black;
}
.movieThumbnail:hover {
    box-shadow: 0px 0px 20px 0 #95a60a;

}

.formulari  {

	float: left;
	font-weight: bold;
	font-family: monospace;
	font-size: 18px;
	color: #95a60a;
	width: 500px;;
	margin: 25px;
}

.formulari fieldset{
	padding: 10px 40px;
	border-color: #95a60a;
}
.formulari fieldset button {
	border-color: inherit;
	font-weight: bold;
	font-size: 17px;
	padding: 4px;
	border-radius: 10px;
	background-color: #95a60a;
}
.formulari fieldset input[type="text"] {
	font-family: "Trebuchet MS";
	font-variant: small-caps;
	background-color: #95a60a;
	font-size: 20px;
	width: auto;
	color: black;
	padding: 7px;
	border-radius: 10px;
}
#forma  {
	float: right;
	margin-top: 10px;
	margin-right: 25px;
	font-weight: bold;
	font-family: monospace;
	font-size: 18px;
	color: #95a60a;
	width: 500px;
	height: auto;
}
#forma fieldset{
	padding: 10px 40px;
	border-color: white;
	width:auto;
	height: auto;
	margin: 20px;
}
#forma fieldset button {
	font-weight: bold;
	font-size: 20px;
	font-variant: small-caps;
	padding: 4px;
	border-radius: 5px;
	background-color: #354EF2;
	color: white;

}
#forma fieldset input[type="text"] {
	font-family: arial;
	background-color: white;
	font-size: 15px;
	width: auto;
	color: black;
	padding: 7px;
	border-radius: 10px;
}
#forma fieldset input[type="password"] {

	background-color: white;
	font-size: 15px;
	width: auto;
	color: red;
	padding: 7px;
	border-radius: 10px;
}
#forma fieldset input[type="text"]:focus {
background-color: green;
color: white;
}
#forma fieldset input[type="password"]:focus {
background-color: red;
color: white;
}
#forma fieldset input[type="checkbox"] {
	width: 15px;
	height: 15px;
	
}
