@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

@keyframes blinkAnimation
            {	
            	0% {color: #00FFFF; margin-left:0px; margin-top:0px;}
            	45% {color: #00FFFF; margin-left:0px; margin-top:0px;}
            	50% {color: #007FFF; margin-left:50px; margin-top:0px;background-color: #00007F;border-radius: 10px;}
                55% {color: #00FFFF; margin-left:0px; margin-top:0px;background-color: #2a2925;border-radius: 15px;}
                60% {color: #007FFF; margin-left:50px; margin-top:0px;background-color: #00007F;border-radius: 5px;box-shadow: 8px 8px 30px rgba(240, 240, 240, .9);}
                62.5% {color: #00007F; margin-left:50px; margin-top:20px;background-color: #007FFF;border-radius: 20px;}
                65% {color: #0000FF; margin-left:0px; margin-top:20px;background-color: #00FFFF;border-radius: 25px;box-shadow: -8px 8px 30px rgba(240, 240, 240, .9);}
                67.5% {color: #00FFFF; margin-left:0px; margin-top: 0px;background-color: #2a2925;box-shadow: 0px 0px 0px rgba(240, 240, 240, .0);}
                90% {color: #00FFFF; margin-left:0px; margin-top: 0px;opacity: 0.9;}
                95% {color: #00FFFF; margin-left:0px; margin-top: 0px;opacity: 0.0;}
                96% {color: #00FFFF; margin-left:0px; margin-top: 0px;opacity: 0.9;}
                100% {color: #00FFFF; margin-left:0px; margin-top: 0px;}
            }
            
@-webkit-keyframes animacioniJone
            {
                0% {color: #00FFFF; margin-left:0px; margin-top:0px;}
            	35% {color: #00FFFF; margin-left:0px; margin-top:0px;}
            	50% {color: #007FFF; margin-left:50px; margin-top:0px;background-color: #0000FF;}
                65% {color: #00FFFF; margin-left:0px; margin-top:0px;background-color: #2a2925;}
                75% {color: #007FFF; margin-left:50px; margin-top:0px;background-color: #0000FF;}
                80% {color: #00007F; margin-left:50px; margin-top:10px;background-color: #00FFFF;}
                85% {color: #0000FF; margin-left:0px; margin-top:10px;background-color: #007FFF;}
                90% {color: #00FFFF; margin-left:0px; margin-top: 0px;background-color: #2a2925;}
            }


* {
	margin: 0;
	padding: 0;
}
body {
	color: white;
	background-color: #2a2925;
	text-align: justify;

}
div {
  /*border: 3px solid #4CAF50;*/
}
header #siteHeader {
	margin: 0px;
	margin-bottom: 10px;
	font-family: "Georgia";
    width:100%;
	margin-left: auto;
	margin-right: auto;
    border: 3px solid red;
    font-family: "DomaineDisplayNarrow",Georgia,serif;
}
.logo {
	float: left;
	padding: 10px 50px 10px 50px;
	margin-bottom: 20px;
	vertical-align: middle;
}
.logo small {
	float: left;
	width: 90px;
	word-break: keep-all;
	vertical-align: middle;
}
.logo figure {
	float: right;
	font-family: "Raleway";
	font-weight: bold;
	position: absolute;
	padding: 10px 10px 30px 10px;
	color: #2a2925;
	border-radius: 25px;
	text-shadow: -2px 2px 4px black, 0 0 5px blue, 0 0 55px darkblue;
	opacity: 0.9;
	animation-name: blinkAnimation;
                animation-duration: 28s;
                animation-timing-function: linear;
                animation-delay: 1s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation: running;
/*Safari dhe Chrome*/
-webkit-animation-name: blinkAnimation;
                -webkit-animation-duration: 28s;
                -webkit-animation-timing-function: linear;
                -webkit-animation-delay: 1s;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-direction: alternate;
                -webkit-animation-play-state: running;

	word-break: keep-all;
	vertical-align: middle;
}
figure {
     position: relative;
}
figure img {
    display: block;
}
figcaption {
    background: rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 0px black, 0 0 5px blue, 0 0 55px darkblue;
    box-shadow: 0px 0px 0px rgba(240, 240, 240, .0);
    border-radius: 25px;
    padding: 5px;
    border: none;
    position: absolute;
    bottom: 0;
    top: 70px;
    left: 0;
    font-size: 0.8em;
}

.rightSideBar{
	padding: 10px 20px 10px 20px;
	margin-bottom: 20px;
}
.alignright {
	float: right;
}

.Search {
	float: right;
	padding-bottom: 10px;
	height: 25px;
	border: 3px solid red;
}
.buttonN{
	width: 80px;
	background-color: #95a60a;
	color: white;
	font-weight: bold;

}
#pagesMenu{
	border: 3px solid red;
}
#siteHeader ul {
	margin: 0px;
	padding: 20px;
	list-style: none;
}
#siteHeader ul li {
	float: right;
	width: 15%;
	height: 40px;
	font-family: "Verdana";
	font-size: 13px;
	text-align: center;
}
#siteHeader ul li a {
	color: white;
	text-decoration: none;
}
/*#TopNavi ul li a:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;

    border-width: 0 0 1px;
    border-style: solid;
}*/
#siteHeader ul li a:hover {
	color: #95a60a;
	padding-bottom: 10px;
	text-decoration: underline;
	text-underline-position: under;
	border-bottom-width: 2px;
}
body #intro{
	margin: 0;
	height: auto;
	padding: 30px 20px;
	background-color: #95a60a;
	border: 3px solid red;
}
#intro #forParagraf{
	height:390px;
	width:48%;
	float:left;
	border: 3px solid red;
}
#intro #forParagraf p{
	color:black;
}

#largeImage{
  	position: relative;
  	bottom: 0;
  	right: 0;
}

#intro #forInfo{
	height:390px;
	width:48%;
	float:right;
	border: 3px solid red;
}
.forImages{
	clear: both;
}
.forImages ul li{
	width:25%;
	list-style: none;
	float:right;

}
#forText{
	clear: both;
	border: 3px solid red;
	padding: 20px;

}
.text{
	height:52%;
	width:48%;
	float:left;
	position:relative;
	border: 3px solid red;
}
.continueElement{
	position: absolute;
    bottom: 0px;
    right: 0;
    border: 3px solid red;
}
.photoElement{
	width:48%;
	float:right;
	border: 3px solid red;
}
body #Content{
	clear: both;
	background: #e4dfc8;
	padding: 20px;
	border: 3px solid red;
	height: 350px;
}
body #Content:after {
    content: "";
    display: table;
    clear: both;
}
#NewsContent p, h4, hr {
	
}
#Content .Element {
	text-align: justify;
	width:33%;
	height: 350px;

}
#NewsContent .Element{
	float: left;
    width: 20%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
	line-height: 1.5em;
}
#NewsContent .Element h4{
	color: white;
}
#NewsContent .Element p{
	color: green;
}
footer{
	clear: both;
	padding: 20px;
	
	border: 3px solid red;
}
footer #NewsLetter{
	float: left;
	width: 31.5%;
    padding-top: 24px;
    border: 3px solid red;

}
footer #NewsContent{
	padding: 20px;
	/*border: 3px solid red;*/
}
footer #NewsContent:after {
    content: "";
    display: table;
    clear: both;
}

#CopyRight{
	clear: both;
	padding: 20px 20px 40px 20px;
	background-color: #1f1f1f;
}
.pL{
	float:left;
}
.pR{
	float:right;
}