@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
	margin: 0;
	padding: 0;
}
body {
	color: white;
	background-color: #2a2925;
	text-align: justify;

}
header #siteHeader {
	margin: 0px;
	margin-bottom: 10px;
	font-family: "Georgia";
    width:100%;
	margin-left: auto;
	margin-right: auto;
    border: 3px solid red;
}
.logo {
	float: left;
	padding: 10px 20px 10px 20px;
	margin-bottom: 20px;
	border: 3px solid red;
}
.rightSideBar{
	padding: 10px 20px 10px 20px;
	margin-bottom: 20px;
}
.alignright {
	float: right;
}

.Search {
	float: right;
	padding-bottom: 10px;
	height: 25px;
	border: 3px solid red;
}
.buttonN{
	width: 80px;
	background-color: #95a60a;
	color: white;
	font-weight: bold;

}
#pagesMenu{
	border: 3px solid red;
}
#siteHeader ul {
	margin: 0px;
	padding: 20px;
	list-style: none;
}
#siteHeader ul li {
	float: right;
	width: 200px;
	height: 40px;
	font-family: "Verdana";
	font-size: 13px;
	text-align: center;
}
#siteHeader ul li a {
	color: white;
	text-decoration: none;
}
/*#TopNavi ul li a:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;

    border-width: 0 0 1px;
    border-style: solid;
}*/
#siteHeader ul li a:hover {
	color: #95a60a;
	padding-bottom: 10px;
	text-decoration: underline;
	text-underline-position: under;
	border-bottom-width: 2px;
}
body #intro{
	margin: 0;
	height: auto;
	padding: 30px 20px;
	background-color: #95a60a;
	border: 3px solid red;
}
#intro #forParagraf{
	height:390px;
	width:48%;
	float:left;
	border: 3px solid red;
}
#intro #forParagraf p{
	color:black;
}

#largeImage{
  	position: relative;
  	bottom: 0;
  	right: 0;
}

#intro #forInfo{
	height:390px;
	width:48%;
	float:right;
	border: 3px solid red;
}
.forImages{
	clear: both;
}
.forImages ul li{
	width:25%;
	list-style: none;
	float:right;

}
#forText{
	clear: both;
	border: 3px solid red;
	padding: 20px;

}
.text{
	height:52%;
	width:48%;
	float:left;
	position:relative;
	border: 3px solid red;
}
.continueElement{
	position: absolute;
    bottom: 0px;
    right: 0;
    border: 3px solid red;
}
.photoElement{
	width:48%;
	float:right;
	border: 3px solid red;
}
body #Content{
	clear: both;
	background: #e4dfc8;
	padding: 20px;
	border: 3px solid red;
	height: 350px;
}
body #Content:after {
    content: "";
    display: table;
    clear: both;
}
#Content .Element {
	text-align: justify;
	width:33%;
	height: 350px;

}
#NewsContent .Element{
	float: left;
    width: 21.9%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
	line-height: 1.5em;
}
#NewsContent .Element h4{
	color: black;
}
#NewsContent .Element p{
	color: black;
}
footer{
	clear: both;
	padding: 20px;
	background-color:#CEC5A3;
	border: 3px solid red;
}
footer #NewsLetter{
	float: left;
	width: 31.5%;
    padding-top: 24px;
    border: 3px solid red;

}
footer #NewsContent{
	padding: 20px;
	/*border: 3px solid red;*/
}
footer #NewsContent:after {
    content: "";
    display: table;
    clear: both;
}

#NewsContent p, h4, hr {
	color: #2a2925;
}

#CopyRight{
	clear: both;
	padding: 20px 20px 40px 20px;
	background-color: #1f1f1f;
}
.pL{
	float:left;
}
.pR{
	float:right;
}

/* contact us div style */

#contactUs {
	width: 30%;
	height: 600px;
	/*border: 2px solid red;*/
	/*background-color: #95a60a;*/
	padding: 12px;
	float: left;
}

#formContent input {
	width: 95%;
	padding: 5px;
}

#formContent {
	margin-top: 10px;
}


#contactUs h2 {
	color: #2a2925;
}

.underLine {
	border-bottom: 1px solid #2a2925;
	margin-top: 8px;
}

#nameContactUs {
	float: left;
	width: 45%;
	overflow: hidden;
}

#emailContactUs {
	float: right;
	width: 45%;
	overflow: hidden;

}

#messageContactUs {
	margin-top: 10px;
}

#inputSubmitReset input {
	width: 100px;
	height: 30px;
	margin-top: 10px;
}
