@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


* {
	margin: 0;
	padding: 0;
}
body {
	color: white;
	background-color: #2a2925;
	text-align: justify;

}
div {
  /*border: 3px solid #4CAF50;*/
}
header{
	z-index:2;
	position: relative;
}
.siteTFCU{
	margin-left:0%;
	margin-top:0%;
	width: 99.4%;
	height: auto;
    opacity: 1;
	z-index:1;
	position: absolute;

}
.siteTFCU:after{
	background-color: rgba(50, 50, 50, 0.9);
}
.siteTFCU img {
	width: 0%; margin-left:20%; margin-top:0px;
	opacity: 0.0;
	z-index:1;
	animation-name: thankYouBgAnimation;
                animation-duration: 30s;
                animation-timing-function: ease-in-out;
                animation-delay: 0s;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation: running;
	/*Safari dhe Chrome*/
	-webkit-animation-name: thankYouBgAnimation;
                -webkit-animation-duration: 30s;
                -webkit-animation-timing-function: ease-in-out;
                -webkit-animation-delay: 0s;
                -webkit-animation-iteration-count: 1;
                -webkit-animation-direction: normal;
                -webkit-animation-play-state: running;

}

header #siteHeader {
	margin: 0px;
	margin-bottom: 10px;
	font-family: "Georgia";
    width: 99.4%;
	margin-left: auto;
	margin-right: auto;
    font-family: "DomaineDisplayNarrow",Georgia,serif;
}
.logo {
	float: left;
	padding: 10px 50px 10px 50px;
	vertical-align: middle;
	width: 100px;
	height: 100px;
	border: 3px solid red;
}

.logo .figureSyle {
	float: right;
	font-family: "Raleway";
	font-weight: bold;
	position: absolute;
	border: 2px rgba(0, 0, 34, 0.0);
	border-style: dotted solid dashed double;
	padding: 10px 10px 30px 10px;
	color: #2a2925;
	border-radius: 25px;
	text-shadow: -2px 2px 4px black, 0 0 5px blue, 0 0 55px darkblue;
	opacity: 1;
	animation-name: blinkAnimation;
                animation-duration: 60s;
                animation-timing-function: linear;
                animation-delay: 1s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation: running;
	/*Safari dhe Chrome*/
	-webkit-animation-name: blinkAnimation;
                -webkit-animation-duration: 60s;
                -webkit-animation-timing-function: linear;
                -webkit-animation-delay: 1s;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-direction: alternate;
                -webkit-animation-play-state: running;

	word-break: keep-all;
	vertical-align: middle;
}
figure {
     position: relative;
}
figure img {
    display: block;

}
.figureSyle figcaption {

    background: rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 0px black, 0 0 5px blue, 0 0 55px darkblue;
    box-shadow: 0px 0px 0px rgba(240, 240, 240, .0);
    border-radius: 25px;
    padding: 5px;
    border: none;
    position: absolute;
    bottom: -25;
    object-fit: cover;
    top: 70px;
    left: 0;
    font-size: 0.8em;
    text-align: center;
    font-family: "Raleway", "Oswald";
}

.rightSideBar{
	padding: 10px 20px 10px 20px;
	margin-bottom: 20px;
}
.alignright {
	float: right;
}

.Search {
	float: right;
	padding-bottom: 10px;
	height: 25px;

}
.buttonN{
	width: 80px;
	background-color: #95a60a;
	color: white;
	font-weight: bold;

}
#pagesMenu{

}
#pagesMenu ul {
	float: right;
	margin: 0px;
	padding: 20px;
	list-style: none;
}
#pagesMenu ul li {
	float: left;
	padding-right: 30px;
	width: 15%;
	height: 40px;
	font-family: "Verdana";
	font-size: 13px;
	text-align: center;
}
#pagesMenu ul li a {
	color: white;
	text-decoration: none;
}
/*#TopNavi ul li a:after {
    content: '';

    width: 99.99%;
    position: absolute;
    left: 0;
    bottom: 1px;

    border-width: 0 0 1px;
    border-style: solid;
}*/
#pagesMenu ul li a:hover {
	color: #95a60a;
	padding-bottom: 10px;
	text-decoration: underline;
	text-underline-position: under;
	border-bottom-width: 2px;
}
body #intro{
	margin: 0;
	height: auto;
	padding: 30px 20px;
	background-color: #95a60a;
	z-index:1;
	position: relative;

}
#intro #forParagraf{
	padding: 0px 10px 10px 0px;
	height:390px;
	width:48%;
	float:left;
	border: 3px solid red;
}
#intro #forParagraf p{
	color:black;
}

#largeImage{
  	position: relative;
  	bottom: 0;
  	right: 0;
}

#intro #forInfo{
	height:390px;
	width:48%;
	float:right;
	border: 3px solid red;
}
.forImages{
	clear: both;
}
.forImages ul li{
	width:25%;
	list-style: none;
	float:right;

}
#forText{
	clear: both;
	border: 3px solid red;
	padding: 20px;

}
.text{
	height:52%;
	width:48%;
	float:left;
	position:relative;
	border: 3px solid red;
}
.continueElement{
	position: absolute;
    bottom: 0px;
    right: 0;
    border: 3px solid red;
}
.photoElement{
	width:48%;
	float:right;
	border: 3px solid red;
}
body .Content{
	clear: both;
	background: #e4dfc8;
	padding: 20px 0px;
	border: 3px solid red;
	height: 350px;
}
.threeRowN{width: 99.4%;}
.leftN{float:left;width:100px;}
.rightN{float:right;width:100px;}
.centerN{margin:0 auto;width:100px;}
body .Content:after {

}
.Content p,.Content h4{
	padding: 5px 0px;
}
.Content p{
	border-top: 1px solid white;
}
.Element {
	text-align: justify;
	width:30%;
	padding: 0px 20px;
	line-height: 1.5em;
}
.Element img {
	width:200px;
	height:200px;
	border: 3px solid red;
}

footer{
	clear: both;
	padding: 20px;
	border: 3px solid red;
	z-index:2;
}
footer #NewsLetter{
	float: left;
	width: 30%;
    padding-top: 24px;
    border: 3px solid red;

}
footer .NewsContent{
	float: right;
	width: 60%;
	padding: 10px 0px;
	border: 3px solid red;
}
.NewsContent p,.NewsContent h4 {
	padding: 5px 0px;
}
.NewsContent p{
	border-top: 1px solid white;
}
.NewsContent .Element{
	line-height: 1.5em;
}
.NewsContent .Element h4{
	color: white;
}
.NewsContent .Element p{
	color: green;
}

#CopyRight{
	clear: both;
	padding: 20px 20px 40px 20px;
	background-color: #1f1f1f;
}
.pL{
	float:left;
}
.pR{
	float:right;
}
