.seriesTitle {
    color:  #d6d6d6;
    font-weight: bolder;
    font-size: 20px;
}

.textFont {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.allSeries {
    /*padding: 20px;*/
    margin-left: auto;
    border: 2px solid gray;
    margin-left: 10px;
}

.allSeries:hover {
    box-shadow: 0 3px 7px 0 #4CAF50, 0 5px 18px 0 #4CAF50;

}

.seriesTitle:hover {
    text-decoration: underline;
    cursor: pointer;
}

.seriesTitle, .seriesEpisodes {
    padding: 5px;
}

.seriesEpisodes select {
    height: 25px;
    width: 90px;
    background: gray;
    color: #ededed;
    cursor: pointer;
    margin-top: 5px;
}

.seriesEpisodes select:hover {
    box-shadow: 0 1px 15px 0 #4CAF50, 0 1px 2px 0 #4CAF50;
}

table tr td {
    padding: 5px;
    margin-top: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#goButton {
    background: #4CAF50;
    border: 1px solid white;
    color: white;
    padding: 5px;
}

#NewsLetter {
    border: none !important;
    margin-top: 12px;
}

.topMargin {
    margin-top: 7px;
}

.contentNews small {
    margin-top: 7px;
    position: absolute;
}

.topMargin2 {
    margin-top: 12px;
}
.NewsletterT {
    height: 23px;
    width: 228px;
}

.category {
    color:  #d6d6d6;
    font-weight: bolder;
    font-size: 15px;
    margin-left: 5px;
}
