.seriesTitle {
    color:  #d6d6d6;
    font-weight: bolder;
    font-size: 20px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.allSeries {
    /*padding: 20px;*/
    margin-left: auto;
    border: 1px solid gray;
    margin-left: 10px;
}

.allSeries:hover {
    box-shadow: 0 3px 7px 0 grey, 0 5px 18px 0 grey;

}

.seriesTitle:hover {
    text-decoration: underline;
    cursor: pointer;
}

.seriesTitle, .seriesEpisodes {
    padding: 5px;
}

.seriesEpisodes select {
    height: 25px;
    width: 90px;
    background: gray;
    color: #ededed;
    cursor: pointer;
}

table tr td {
    padding: 5px;
    margin-top: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
}